/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background-color: #161b1d; /* Deep slate to match the dashboard */
  height: 100%;
}